@model KUET_SGIPC.Models.Gallery

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="margin-top:50px">
    <div>
        <h4>Gallery</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Path)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Path)" width="600" height="400" />
            </dd>

        </dl>
    </div>
    <p>
        <button>@Html.ActionLink("Back to List", "GetAllImageList")</button>
    </p>

</div>

