
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_AdminLayout</title>
    <link rel="icon" href="~/Image/fav.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <style>
        .navbar-inverse .navbar-nav > li > a {
            font-size: 16px;
            color: black;
            font-family: 'Poppins', sans-serif;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: red;
            }

        .navbar-inverse .navbar-brand {
            font-size: 30px;
            color: #2557e0;
            font-family: "Sofia", sans-serif;
            font-weight: bold;
            text-shadow: 3px 3px 3px #ababab;
        }

            .navbar-inverse .navbar-brand:hover {
                color: red;
            }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;color:black;padding-top:20px; border-color:white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KUET SGIPC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                    <li>@Html.ActionLink("AddSlider", "Add", "Image")</li>
                    <li>@Html.ActionLink("AddGallery Image", "AddGalleryImage", "Admin")</li>
                    <li>@Html.ActionLink("AddContest", "AddContest", "Admin")</li>
                    <li>@Html.ActionLink("AddPastContest", "AddPastContest", "Admin")</li>
                    <li>@Html.ActionLink("AddNotice", "AddMarqueeNotice", "Admin")</li>
                    <li>@Html.ActionLink("AddBlog", "AddBlog", "Admin")</li>
                    <li>@Html.ActionLink("AddResourse", "AddResourse", "Admin")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer class="container">
        <footer>
            <div class="footer">
                <div class="social_media container-fluid">
                    <a class="fb-ic" href="https://www.facebook.com/groups/sgipc.kuet">
                        <i class="fab fa-facebook-f fa-lg"></i>

                    </a>
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg "></i>
                    </a>
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus fa-lg"></i>
                    </a>
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a class="ins-ic" href="https://www.linkedin.com/in/sgipc-kuet-2799551ab">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </div>
                <p style="text-align:center">&copy; @DateTime.Now.Year - KUET SGIPC</p>
            </div>

        </footer>
    </footer>
</body>
</html>
