@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">

    @{
        bool admin = false;
        string x = User.Identity.GetUserName();
        String[] user = x.Split(new[] { '@' });
        string name = user[0];
        if (x == "rupok1807003@stud.kuet.ac.bd" && User.Identity.IsAuthenticated)
        {
            admin = true;
        }


    }
    @if (@admin)
    {
    <li>
        @Html.ActionLink("Welcome Admin", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    }
    else
    {
    <li>
        @Html.ActionLink("Hello " +@name+ "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    }

    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
